.pageAndTitleContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem 0 1rem 0;
}

.pageAndTitleContainer h1 {
  margin: 0;
  line-height: 2rem;
}

.postBody h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 2rem 0 2rem 0;
  color: var(--primary-color);
  line-height: 2.5rem;
}

.postBody h2:after {
  content: "";
  width: 100px;
  height: 2px;
  background: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:after, :before {
  box-sizing: inherit;
}

.date {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 1rem 0;
}

.postBody a {
  text-decoration: underline;
  font-weight: bold;
}
