.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--hr-color);
}

.infoContainer h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.postBody h2 {
  font-weight: 500;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  color: var(--primary-color);
  line-height: 2.5rem;
}

.postBody h2:after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--hr-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:after, :before {
  box-sizing: inherit;
}

.date {
  display: flex;
  justify-content: flex-end;
  margin: 0.67rem 0 1rem 0;
}

.postBody a {
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 700px) {
  .infoContainer {
    align-items: flex-start;
  }

  .infoContainer h1 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}
