.pageAndTitleContainer {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin: 1rem 0;
}

.pageAndTitleContainer p {
  margin: 0;
}

.pageAndTitleContainer h1 {
  margin: 0;
}

h2 {
  color: var(--primary-color);
}
