.container {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}

.button {
  color: var(--secondary-color);
  padding-right: 0.75rem;
}

.button:hover {
  color: var(--primary-color);
}
