.mobileMenu {
  display: none;
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.closeButtonMobileContainer {
  margin: 2rem 2rem 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.navLinksItemMobile {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.navLinksItemMobile:hover {
  background-color: var(--hover-mobile-link-color);
}

.navLinksItemMobile:hover {
  border-bottom: transparent;
}

.navLinksMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  list-style: none;
  padding-left: 0;
  padding-top: 1rem;
  margin-right: -0.6rem;
  width: 100%;
}
