.heroContainer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  height: 94vh;
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2.5rem;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
}

.title {
  color: var(--primary-color);
  font-size: 3.5rem;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.buttons svg {
  height: 1em;
  width: 1em;
  margin-right: 0.5rem;
}

@media (max-width: 900px) {
  .image {
    display: none;
  }

  .title {
    font-size: 2em;
  }

  .subtitle {
    font-size: 2em;
  }

  .text {
    display: none;
  }

  .buttons svg {
    margin-right: 0;
    height: 2rem;
    width: 2rem;
  }
}
