.bioSection {
  display: flex;
  gap: 1rem;
  line-height: initial;
  padding: 1rem;
}

.bioSection span {
  font-weight: bold;
}

.bioSection p {
  margin: 0;
  text-align: justify;
}

.tagContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
}

.collaborations {
  display: flex;
  flex-direction: column;
}

.collaborationsWrapper {
  margin-left: 3.6rem;
  display: none;
  transition: ease-in 2s;
}

.bioSectionWrapper:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
