.navigationMobile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.navLinksMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  list-style: none;
  padding-left: 0;
  padding-top: 1rem;
  margin-right: -0.6rem;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  flex-direction: row;
  align-items: center;
}

.navLinksItem {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.navLinksItemMobile {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.mobileMenu {
  display: none;
  background-color: rgba(0,0,0, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.navigationDesktop {
  display: none;
}

@media (min-width: 700px) {
  .navigationMobile {
    display: none;
  }

  .navigationDesktop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  #mobileNav {
    display: none;
  }
}
