.navigationMobile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  list-style: none;
  padding-left: 0;
}

.navLinksItem {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.mobile {
  display: none;
  background: var(--bg-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.navigationDesktop {
  display: none;
}

@media (min-width: 700px) {
  .navigationMobile {
    display: none;
  }

  .navigationDesktop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }

  .navLinks {
    flex-direction: row;
    align-items: center;
  }

  #mobileNav {
    display: none;
  }
}
