.navigationMobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.navLinksMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  list-style: none;
  padding-left: 0;
  padding-top: 1rem;
  margin-right: -0.6rem;
  width: 100%;
}

.navLinksItemMobile {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.navLinksItemMobile:hover {
  background-color: var(--hover-mobile-link-color);
}

.navLinksItemMobile:hover {
  border-bottom: transparent;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 2rem;
}

.navLinksItem {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navLinksItem a {
  color: var(--font-color);
}

.navLinksItem a:hover {
  color: var(--secondary-color);
  border-bottom: transparent;
}

.mobileMenu {
  display: none;
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.navigationDesktop {
  display: none;
}

.closeButtonMobileContainer {
  margin: 2rem 2rem 2rem 0;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 700px) {
  .navigationMobile {
    display: none;
  }

  .navigationDesktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  #mobileNav {
    display: none;
  }
}
