.nameAvatarContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.avatar {
  width: 20%;
}

.nameAvatarContainer h2 {
  margin-bottom: 0.3rem;
}

.nameAvatarContainer h3 {
  margin-top: 0;
  font-size: 0.9rem;
  font-weight: normal;
}

.workContainer p {
  margin-top: 0.5rem;
  text-align: justify;
  text-indent: 1em;
}

h4 {
  width: fit-content;
  margin-bottom: 0;
  border-bottom: var(--secondary-color) solid 4px;
}
