.nameAvatarContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.avatar {
  width: 20%;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nameAvatarContainer h1 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
}

.nameAvatarContainer h2 {
  margin-top: 0;
  font-size: 0.9rem;
  font-weight: normal;
}

.workContainer p {
  margin-top: 0.5rem;
  text-align: justify;
  text-indent: 1em;
}

.sectionTitle {
  width: fit-content;
  margin-bottom: 0;
  border-bottom: var(--secondary-color) solid 4px;
}

.languagesContainer {
  display: flex;
  gap: 1rem;
}

.languageButton {
  cursor: pointer;
}

.languageButton:hover {
  color: var(--secondary-color)
}
