:root {
  --primary-color: #6B66F6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #EDFFFF;
  --heading-color: #292922;
  --bg-animation: toLightMode 2s;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --brightness: 0.8;
  --contrast: 1.2;
  --bg-animation: toDarkMode 2s;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 90%;
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
  animation: var(--bg-animation);
}

@keyframes toDarkMode {
  from {
    background-color: #EDFFFF;
  }
  to {
    background-color: #161625;
  }
}

@keyframes toLightMode {
  from {
    background-color: #161625;
  }
  to {
    background-color: #EDFFFF;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  border-bottom: var(--primary-color) solid 1px;
}

body img {
  filter: brightness(var(--brightness)) contrast(var(--contrast));
}


