.navigationMobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

@media (min-width: 700px) {
  .navigationMobile {
    display: none;
  }

  #mobileNav {
    visibility: hidden;
  }
}
