footer {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright {
  margin-top: 1rem;
  font-weight: normal;
  font-size: small;
  color: var(--description-color);
}
