.articlePreviewContainer {
  margin: 2rem 0 2rem 0;
}

.postInfoContainer:hover{
  background-color: var(--hover-color);
}

.title {
  color: var(--primary-color);
  font-weight: bold;
}

.image {
  height: 100%;
  width: 50%;
}

.articlePreviewContainer p {
  text-align: justify;
}

.articlePreviewContainer a:hover {
  border-bottom: transparent;
}

.postInfo {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  height: 10rem;
  gap: 1rem;
}

.titleDescriptionContainer {
  width: 50%;
}

.description {
  font-size: small;
  color: var(--description-color);
}

@media (max-width: 700px) {
  .image {
    height: 100%;
    width: 100%;
  }
  .postInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
    gap: 1rem;
  }

  .description {
    display: none;
  }

  .title {
    width: 200px;
  }
}
