.timeline {
  margin: 1rem 2rem;
}

.timeline li {
  list-style-type: none;
}

.button {
  width: fit-content;
}

.title {
  color: var(--primary-color);
}

.body {
  color: var(--font-color);
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  padding: 1rem;
}

.organization {
  font-size: 1rem;
  font-weight: 500;
  color: var(--font-color);
}
