.navigationDesktop {
  display: none;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 2rem;
}

.navLinksItem {
  display: flex;
  align-items: center;
}

.navLinksItem a {
  color: var(--font-color);
  padding: 1.3rem;
}

.navLinksItem a:hover {
  color: var(--secondary-color);
  border-bottom: transparent;
  background-color: var(--hover-color);
}

@media (min-width: 700px) {
  .navigationMobile {
    display: none;
  }

  .navigationDesktop {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #mobileNav {
    display: none;
  }
}
