.navigationDesktop {
  display: none;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 2rem;
}

.navLinksItem {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navLinksItem a {
  color: var(--font-color);
}

.navLinksItem a:hover {
  color: var(--secondary-color);
  border-bottom: transparent;
}

@media (min-width: 700px) {
  .navigationMobile {
    display: none;
  }

  .navigationDesktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  #mobileNav {
    display: none;
  }
}
