.socialMedia {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socialMedia a {
  color: var(--secondary-color)
}

.socialMedia a:hover {
  border-bottom-color: transparent;
  color: var(--primary-color)
}
