.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMedia a {
  color: var(--secondary-color);
}

.socialMedia a:hover {
  border-bottom-color: transparent;
  color: var(--primary-color);
}
