.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMedia a {
  width: 26px;
  height: 26px;
  color: var(--secondary-color)
}

.socialMedia a:hover {
  border-bottom-color: transparent;
  color: var(--primary-color)
}
